/*
*   GRIDDY: a light, responsive CSS grid
*   by Jeff George
*   @webdevjeffus
*   https://github.com/webdevjeffus
*   version: 0.1
*/


/* RESET CLASSES */

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}


/* GRID SYSTEM CLASSES */





/* HELPER CLASSES */

/* https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* From H5BP */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


