/*
*   GRIDDY: a light, responsive CSS grid
*   by Jeff George
*   @webdevjeffus
*   https://github.com/webdevjeffus
*   version: 0.1
*/


/**** RESET CLASSES ****/

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}


/**** GRID SYSTEM CLASSES (Mobile First) ****/

/* PHONE - fluid 20em-25em (320-400px) */

body {
  min-width: 20em;
  max-width: 25em;
}


/* TABLET - fluid 40-50em (600-800px) */

@media only screen and (min-device-width: 40em) {

  body {
    max-width: 50em;
  }





}


/* COMPUTER - fluid 50.01-60em (801-960px) */

@media only screen and (min-device-width: 50.01em) {

  body {
    max-width: 60em;
  }





}



/**** HELPER CLASSES ****/

/* https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* From H5BP */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


